.App{
  display:block;
}
h1, h2, h3, h4, h5{
  font-family: 'Marvel', sans-serif;
}
.centrar {
  padding: 150px;
}
// card
.card-custom{
  width: 250px;
}
// icon
.custom-nav{
  background-color: #F9FBE7;
}
.custom-color{
  color: #008037;
}
// slider
.carousel-item {
  height: 43rem;
}
